default:
  image: ubuntu/python

testing:
  stage: test
  before_script:
    - python -m pip install --upgrade pip
    - pip install coverage
  script:
    - pip install .
    - coverage run -m unittest discover -s tests -p "*.py" -v
    - coverage report -m
  coverage: '/TOTAL.*([0-9]{1,3}%)/'
